<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>himanshu medical hall</title>
    <style>
     table,th,td{border:1px solid black;}
    </style>
</head>
<body>
<h1>HIMANSHU MEDICAL HALL </h1>
<h2>sector-1 anand market dhurwa ranchi </h2>
<ul>
    <li>medicene supliers -ram</li>
    <li>medicene supliers-himanshu</li>
</ul>
<table style="width:40%">
  <tr>
      <th>supliers-ram</th>
      <th>supliers-himanshu</th>
  </tr>
    <tr>
        <td>ranbaxy</td>
        <td>glaxo</td>
    </tr>
</table>
</body>
</html>