<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact us</title>


</head>
<body>
<h1>Sector-1 anand market dhurwa ranchi Jharkhand<h1>
    <p><h2>Mobile no-7903684709<h2><p>
    <p>Gmail-ksudhanshu9254@gmail.com<p>
 <p>pincode-834004<p>

         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</body>
</html>