<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <style>
     table,th,td{border:1px solid black;}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<h1>Products Details </h1>
<ul>
    <li>types of products</li>
    <li>types of products </li>
</ul>
<table style="width:40%">
  <tr>
      <th>products</th>

  </tr>
    <tr>
        <td>face wash </td>
        <td>medicene</td>
    </tr>
</body>
</html>